<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Panel de usuario - Sistema de Votaciones</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div th:replace="~{fragments/barra :: barraSuperior}"></div>
    <div class="container">
        <h1>Panel de usuario</h1>
        <div class="acciones">
            <form th:action="@{/votacion}"><input type="submit" value="Votar"></form>
            <form th:action="@{/resultados}"><input type="submit" value="Ver resultados de las elecciones"></form>
            <form th:action="@{/ganador}"><input type="submit" value="Ver ganador de las elecciones"></form>
            <form th:action="@{/logout}" method="post"><input type="submit" value="Salir de la aplicación"></form>
        </div>
    </div>
</body>
</html>
