<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ver censo - Sistema de Votaciones</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div th:replace="~{fragments/barra :: barraSuperior}"></div>
    <div class="container">
        <h1>Ver censo de</h1>
        <div class="acciones">
            <form th:action="@{/admin/censo/todo}"><input type="submit" value="Todo"></form>
        </div>
        <hr class="separador">

        <form th:action="@{/admin/censo/localidad}">
            <label for="localidad">Por localidad</label>
            <select id="localidad" name="nombre">
                <option th:each="localidad : ${localidades}" th:value="${localidad}" th:text="${localidad}">Localidad</option>
            </select>
            <input type="submit" value="Ver">
        </form>

        <hr class="separador">

        <form th:action="@{/admin/censo/comunidad}">
            <label for="comunidad">Por comunidad</label>
            <select id="comunidad" name="nombre">
                <option th:each="comunidad : ${comunidades}" th:value="${comunidad}" th:text="${comunidad}">Comunidad</option>
            </select>
            <input type="submit" value="Ver">
        </form>

        <hr class="separador">
        <form th:action="@{/admin/panel}">
            <input type="submit" value="Volver al panel">
        </form>
    </div>
</body>
</html>
