<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Votaciones - Sistema de Votaciones</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div th:replace="~{fragments/barra :: barraSuperior}"></div>
    <div class="container-ancho">
        <h1>Elige tu partido</h1>
        <div class="rejilla-partidos">
            <div class="tarjeta-partido" th:each="partido : ${partidos}">
                <img th:src="${partido.imagen}" th:alt="'Logotipo de ' + ${partido.siglas}">
                <span class="siglas" th:text="${partido.siglas}">Siglas</span>
                <form th:action="@{/votacion}" method="post" accept-charset="UTF-8">
                    <input type="hidden" name="siglasPartido" th:value="${partido.siglas}">
                    <input type="submit" value="Votar">
                </form>
            </div>
        </div>
        <hr class="separador">
        <form sec:authorize="hasRole('ADMIN')" th:action="@{/admin/panel}">
            <input type="submit" value="Volver al panel">
        </form>
        <form sec:authorize="hasRole('VOTANTE')" th:action="@{/usuario/panel}">
            <input type="submit" value="Volver al panel">
        </form>
    </div>
</body>
</html>
