<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>servletRedirigirRol</servlet-name>
        <servlet-class>controladores.servletRedirigirRol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletRegistrarUsuario</servlet-name>
        <servlet-class>controladoresUsuario.servletRegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletRedirigirAccion</servlet-name>
        <servlet-class>controladoresAdmin.servletRedirigirAccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCrearPartidos</servlet-name>
        <servlet-class>controladoresAdmin.servletCrearPartidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletAniadirCandidatos</servlet-name>
        <servlet-class>controladoresAdmin.servletAniadirCandidatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCreacionElecciones</servlet-name>
        <servlet-class>controladoresAdmin.servletCreacionElecciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletHabilitacionElecciones</servlet-name>
        <servlet-class>controladoresAdmin.servletHabilitacionElecciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletRedirigirVotante</servlet-name>
        <servlet-class>controladoresUsuario.servletRedirigirVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletVotacion</servlet-name>
        <servlet-class>controladores.servletVotacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletVerCenso</servlet-name>
        <servlet-class>controladoresAdmin.servletVerCenso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletVerResultados</servlet-name>
        <servlet-class>controladoresAdmin.servletVerResultados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletVerResultadosUsuario</servlet-name>
        <servlet-class>controladoresUsuario.servletVerResultadosUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletGestionAnalista</servlet-name>
        <servlet-class>controladoresAnalista.servletGestionAnalista</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletRedirigirRol</servlet-name>
        <url-pattern>/servletRedirigirRol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletRegistrarUsuario</servlet-name>
        <url-pattern>/servletRegistrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletRedirigirAccion</servlet-name>
        <url-pattern>/servletRedirigirAccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCrearPartidos</servlet-name>
        <url-pattern>/servletCrearPartidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletAniadirCandidatos</servlet-name>
        <url-pattern>/servletAniadirCandidatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCreacionElecciones</servlet-name>
        <url-pattern>/servletCreacionElecciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletHabilitacionElecciones</servlet-name>
        <url-pattern>/servletHabilitacionElecciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletRedirigirVotante</servlet-name>
        <url-pattern>/servletRedirigirVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletVotacion</servlet-name>
        <url-pattern>/servletVotacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletVerCenso</servlet-name>
        <url-pattern>/servletVerCenso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletVerResultados</servlet-name>
        <url-pattern>/servletVerResultados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletVerResultadosUsuario</servlet-name>
        <url-pattern>/servletVerResultadosUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletGestionAnalista</servlet-name>
        <url-pattern>/servletGestionAnalista</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
